.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-background {
  background-image: url('https://t3.ftcdn.net/jpg/03/82/24/44/360_F_382244401_FNIivSDbE7ojw5sT70WYVgmFsw2R7DHD.jpg');
  background-size: cover;  /* Ensures the image covers the entire div */
  background-position: center;  /* Centers the image in the div */
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  height: 500px;  /* Set a height to see the background image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: white;  /* Ensure the text color contrasts with the background image */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Optional: add shadow for better readability */
}
